@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Raleway:wght@600&family=Roboto:wght@100;700&display=swap");

.BlogItem_Main_Container {
  width: 27vw;
  box-shadow: 0rem 0rem 1.5rem 0.2rem rgba(0, 0, 0, 0.121);
  margin-top: 8rem;
  cursor: pointer;
}
.BlogItem_IMG {
  width: 100%;
  object-fit: cover;
  object-position: top center;
  height: 43rem;
  /* border: 2px solid black; */
}
.BlogItem_Img_Container {
  /* border: 2px solid rgb(146, 0, 0); */
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.BlogItem_Button_Container {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  /* background-color: blueviolet; */
  /* top: 1rem; */
  background-color: transparent;
  z-index: 4;
  width: 21rem;
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.415);
  padding: 1.5rem 2rem;
  color: white;
  cursor: pointer;
}
.BlogItem_About_Container {
  text-align: left;
  padding: 3rem 2rem;
}
.BlogItem_Primary_Heading {
  font-size: 2.5rem;
  line-height: 3rem;
  font-family: "Raleway-SemiBold";
  margin-top: 1rem;
}
.BlogItem_Secondary_Heading {
  font-size: 2.2rem;
  line-height: 3rem;
  color: rgba(0, 0, 0, 0.608);
  font-family: Open Sans, sans-serif;
  margin-top: 2rem;
}
.linear_gradient {
  background: linear-gradient(transparent, transparent);
  width: 100%;
  height: 43rem;
  position: absolute;
  top: 0rem;
}
.linear_gradient:hover {
  background: linear-gradient(#00000040, #00000040);
}

@media only screen and (max-width: 1150px) {
  .BlogItem_Main_Container {
    width: 33%;
  }
  .linear_gradient {
    height: 50rem;
  }
}
@media only screen and (max-width: 950px) {
  .BlogItem_Main_Container {
    width: 70%;
  }
  .BlogItem_IMG {
    width: 100%;
    height: 57rem;
    object-position: center;
    object-fit: cover;
  }
  .linear_gradient {
    height: 57rem;
  }
}
@media only screen and (max-width: 650px) {
  .BlogItem_Main_Container {
    width: 88%;
  }
}
