.Common_Logo_Media {
  flex: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.5rem;
}
.Common_Main_Img_Container {
  flex: flex;
  align-items: center;
  justify-content: center;
}
.Common_Img_Text_Container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 3rem;
}
.Common_Text_Img {
  font-size: 3.5rem;
  color: #5040af;
  font-weight: 500;
}
