@font-face {
  font-family: "Raleway-Light";
  src: url("../assets/Fonts/Raleway-Light.ttf") format("Truetype");
}
@font-face {
  font-family: "Raleway-Medium";
  src: url("../assets/Fonts/Raleway-Medium.ttf") format("Truetype");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../assets/Fonts/Raleway-Regular.ttf") format("Truetype");
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../assets/Fonts/Raleway-SemiBold.ttf") format("Truetype");
}
@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../assets/Fonts/Raleway-ExtraBold.ttf") format("Truetype");
}
@font-face {
  font-family: "Raleway-ExtraLight";
  src: url("../assets/Fonts/Raleway-ExtraLight.ttf") format("Truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/Fonts/Roboto-Bold.ttf") format("Truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../assets/Fonts/Roboto-Light.ttf") format("Truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/Fonts/Roboto-Regular.ttf") format("Truetype");
}
